.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 20px 90px;
}

.contact-us__heading-part,
.contact-us__form-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-us__image {
  background-image: url(../../img/image/Megaphone.png);
  height: 195px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: calc(50% - 15px) 0px;
}

.contact-us__header {
  font-family: 'Arvo', serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  text-align: center;
  color: #212121;
  margin: 0 0 24px;
}

.contact-us__subheader {
  margin: 0 20px 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #9fa3a7;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 18px;
  width: 100%;
  max-width: 280px;
}

.contact-us__form-input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #9fa3a7;
  background: #f7f8f9;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 16px 19px;
  resize: none;
}


.contact-us__form-input:last-child {
  margin-bottom: 18px;
}

.contact-us__form-submit {
  background: #f9593a;
  border-radius: 100px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px 83px;
}
