.header {
  display: flex;
  flex-direction: column;
  padding: 18px 30px 54px;
  background: #000000;
  color: #ffffff;
  background-position: 50% 200px;
  background-size: 150%;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

.no-webp .header {
  background-image: url(../../img/image/Speaker.png);
}

.webp .header {
  background-image: url(../../img/image/Speaker.webp);
}

.header__menu-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.header-title {
  display: flex;
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 39px;
  justify-content: center;
  margin: 0;
  color: #ffffff;
}

.header-title__second_part {
  color: #ffc80a;
  font-style: italic;
}

.header-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

.header-navigation__close {
  font-size: 52px;
}

.header-navigation__item {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 12px;
  line-height: 15px;
}

.header-mobile-button {
  display: flex;
  flex-direction: column;
  width: 24px;
  align-items: center;
  justify-content: center;
}

.header-mobile-button__dash {
  display: block;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.header-mobile-button__dash:nth-child(1) { width: 24px; }
.header-mobile-button__dash:nth-child(2) { width: 18px; }
.header-mobile-button__dash:nth-child(3) { width: 12px; }

.header__title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header__title-subtitle {
  margin-bottom: 42px;
  font-family: 'Arvo', serif;
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.header__title-action-btn {
  text-transform: uppercase;
  border-radius: 32px;
  border: none;
  padding: 14px 32px;
  background-color: #f05638;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #ffffff;
}
