.pricing-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  padding: 18px 18px 60px;
  margin: 12px 0;
  align-items: center;
}

.pricing-card__popular-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 18px;
  margin-bottom: 25px;
}

.pricing-card__popular-badge {
  border-radius: 4px;
  padding: 4px 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.92px;
  color: #ffffff;
  background: #ffc80a;
  text-transform: uppercase;
}

.pricing-card__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: #212121;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.pricing-card__price {
  display: flex;
  justify-content: center;
  font-family: 'Arvo', serif;
  color: #212121;
  margin-bottom: 26px;
}

.pricing-card__price-currency {
  font-size: 38px;
  line-height: 38px;
  align-self: flex-start;
}

.pricing-card__price-value {
  font-size: 74px;
  line-height: 60px;
}

.pricing-card__price-period {
  font-size: 20px;
  line-height: 20px;
  color: #9fa3a7;
  align-self: flex-end;
}

.pricing-card__features {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 29px;
}

.pricing-card__features-item-title {
  padding: 1px;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  color: #9fa3a7;
}

.pricing-card__features-item-value {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  margin-right: 3px;
}

.pricing-card__buy-btn {
  font-family: 'Montserrat', sans-serif;
  padding: 16px 42px;
  border: 1px solid #9fa3a7;
  border-radius: 100px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: #525252;
  text-transform: uppercase;
}
