.pricing {
  display: flex;
  flex-direction: column;
  padding: 72px 30px;
  background: url(../../img/image/bg1.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center;
}

.pricing__header {
  font-family: 'Arvo', serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  color: #212121;
  margin: 0 0 25px;
}

.pricing__subheader {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0 0 36px;
  color: #9FA3A7;
}
