.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.feature-img {
  object-fit: contain;
  width: 100%;
  height: 180px;
  margin-bottom: 12px;
}

.feature-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #212121;
  margin-bottom: 17px;
}

.feature-description {

  font-family: Arvo;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #9FA3A7
}

.feature-description::first-letter {
  text-transform: capitalize;
}
