.header {
  padding: 55px 175px 226px;
  background-position: 150% 50%;
  background-size: 75%;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: transparent;
}

.header-navigation__close,
.header-mobile-button {
  display: none;
}

.header-navigation__item {
  margin: 0 20px;
}

.header-navigation__item:last-of-type {
  margin-right: 0;
}

.header__title-section {
  align-items: flex-start;
}

.header__title-subtitle {
  text-align: left;
  margin-bottom: 74px;
}
