.feature {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
  overflow: hidden;
  font-family: Montserrat;
  border-radius: 15px;
  padding: 54px 32px;
}

.feature--new {
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.1);
}

.feature__img {
  width: 100%;
  height: 180px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
}

.feature__title {
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #212121;
  text-transform: uppercase;
}

.feature__description {
  font-family: 'Arvo', serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #9fa3a7;
}

.feature__description::first-letter {
  text-transform: capitalize;
}

.feature__new-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffc80a;
  border-radius: 20px;
  margin-top: 28px;
  width: 40px;
  height: 40px;
}

.feature__new-button-arrow {
  font-weight: bold;
  color: #8f75be;
  font-size: 42px;
  transform: translate(0, -1px);
}

.feature__new-badge {
  position: absolute;
  right: 0;
  top: 0;
  background: #ffc80a;
  transform: translate(40px, 15px) rotate(45deg);
  padding: 5px 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #1c1c1c;
  text-transform: uppercase;
}
