@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@import './mobile/header.css';
@import './mobile/features.css';
@import './mobile/feature.css';
@import './mobile/news-feed.css';
@import './mobile/news-item.css';
@import './mobile/pricing.css';
@import './mobile/pricing-card.css';
@import './mobile/get-started.css';
@import './mobile/contact-us.css';
@import './mobile/our-contacts.css';
@import './mobile/footer.css';

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  @import './tablet/header.css';
}
