.our-contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 38px 330px;
  align-items: center;
}

.our-contacts__map,
.our-contacts__map-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.our-contacts__map-overlay {
  background: linear-gradient(
    180deg,
    rgba(235, 242, 243, 0.9) 28.65%,
    rgba(218, 218, 218, 0) 51.41%
  );
  z-index: 1;
}

.our-contacts__header {
  margin-bottom: 11px;
  font-family: 'Arvo', serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #212121;
  z-index: 2;
}

.our-contacts__subheader {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #5c5c5c;
  z-index: 2;
}
