.footer {
  padding: 59px 50px 79px;
}

.footer__nav {
  flex-direction: row;
  margin-bottom: 50px;
}

.footer__nav-item {
  margin: 0 35px 0 0;
}

.footer__nav-item:last-child {
  margin: 0;
}

.footer__copyright {
  padding: 60px 0 0;
}
