.pricing-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  padding: 60px 0;
  margin: 12px 0;
  align-items: center;
}

.plan-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #212121;
  margin-bottom: 16px;
}

.plan-price {
  display: flex;
  justify-content: center;
  font-family: Arvo;
  color: #212121;
  margin-bottom: 26px;
}

.plan-currency {
  font-size: 38px;
  line-height: 38px;
  align-self: flex-start;
}

.plan-price {
  font-size: 74px;
  line-height: 60px;
}

.plan-period {
  font-size: 20px;
  line-height: 20px;
  color: #9fa3a7;
  align-self: flex-end;
}

.features-section {
  margin-bottom: 29px;
}

.feature-title {
  padding: 1px;
  text-align: left;
  font-size: 13px;
  line-height: 16px;
  color: #9FA3A7;
}

.feature-value {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
  margin-right: 3px;
}

.buy-btn {
  padding: 16px 42px;
  border: 1px solid #9FA3A7;
  border-radius: 100px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
  color: #525252;
  text-transform: uppercase;
}
